{
    "presets":  [
        ["@babel/preset-env",
            {
                "targets":  {
                    "browsers":  [">0.25%",  "Explorer 11"]
                },
                "corejs":  3,
                "useBuiltIns":  "entry"
            }
        ],
        "@babel/preset-typescript",
        "minify"
    ],
    "plugins":  [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-object-assign"
    ]
}